$mygreen: rgb(14, 126, 22);
$mygrey: rgb(178, 178, 178);

#brand{
    color: $mygreen !important;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
#navbar{
    padding: 0 30px;
    background-color: $mygrey !important;
}
#navbarSupportedContent {
    margin: auto;
    justify-content: flex-end !important;
    display: flex;
    align-items: center; 
}
ul.navbar-nav {
    display: flex;
    align-items: center; 
    justify-content: flex-end; 
    width: 100%;
    li{
        margin: auto 5px;
    }
}
#signed{
    margin: auto;
}
span{
    font-weight: bold;
}
#submit-button{
    background-color: $mygreen;
    margin: 10px;
    border: 1px solid rgb(118, 179, 26);
    color: white;
}
#submit-button:hover{
    background-color: rgb(118, 179, 26);
}

#login-register{
    background-color: $mygrey;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    form{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: center; 
        div{
            margin: 8px 0;
            width: 100%;
        }
    }
}
@media (min-width: 700px){
    #login-register{
        margin: 40px 30%;
        padding: 25px 50px;
    }
}
@media (max-width: 700px){
    #login-register{
        margin: 40px 20%;
        padding: 25px 30px;
    }
}
@media (max-width: 500px){
    #login-register{
        margin: 40px 10%;
        padding: 25px 20px;
    }
}

