$mygreen: rgb(14, 126, 22);
$mygrey: rgb(178, 178, 178);

#main-container{
    margin-top: 70px;
}
#brand{
    color: $mygreen !important;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
#navbar{
    padding: 0 30px;
    background-color: $mygrey !important;
}
#navbarSupportedContent {
    margin: auto;
    justify-content: flex-end !important;
    display: flex;
    align-items: center; 
}
ul.navbar-nav {
    display: flex;
    align-items: center; 
    justify-content: flex-end; 
    width: 100%;
    li{
        margin: auto 5px;
    }
}
#signed{
    margin: auto;
}
span{
    font-weight: bold;
}
.btn{
    background-color: $mygreen;
    margin: 10px;
    border: 1px solid rgb(118, 179, 26);
    color: white;
}
.btn:hover{
    background-color: rgb(118, 179, 26);
    color: white;
}

.div-form{
    background-color: $mygrey;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    form{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: center; 
        div{
            margin: 8px 0;
            width: 100%;
        }
    }
}
@media (min-height: 700px){
    .div-form{
        margin-top: 140px !important;
    }
}
@media (max-height: 700px){
    .div-form{
        margin-top: 100px !important;
    }
}
@media (min-width: 1200px){
    .div-form{
        margin: auto 30%;
        padding: 25px 50px;
    }
}
@media (max-width: 1200px){
    .div-form{
        margin: auto 20%;
        padding: 25px 50px;
    }
}
@media (max-width: 700px){
    .div-form{
        margin: auto 20%;
        padding: 25px 30px;
    }
}
@media (max-width: 500px){
    .div-form{
        margin: auto 10%;
        padding: 25px 20px;
    }
}

#add{
    div{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        input,select{
            width: 60%;
            align-items: end;
            text-align: center;
        }
        label{
            font-weight: bold;
        }   
    }
    div:has(textarea) {
        flex-direction: column;
        align-items: center;
        label {
            margin-bottom: 10px;
            text-align: center;
            width: 100%; 
        }
        textarea {
            width: 100%;
            padding: 10px;
            text-align: left;
            resize: none;
        }
    }
}
.expense-container{
    margin: 10px 10%;
    border: 2px solid $mygreen;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    padding: 0px 15px;
    .note-div{
        width: 100%;
        border: 1px solid black;
        margin: 5px 0;
        padding: 3px 0;
        justify-content: center;
        *{
            width: 33%;
            align-items: center;
            text-align: center;
            justify-content: center;
        }
    }
    animation-name: hide;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}
.expense-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    div{
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        padding: 5px;
        width: 16%;
    }
    .amount-div{
        width: 110px;
        display: flex;
        flex-direction: row;
    }
    .date-div{
        width: auto;
    }
    .icons-div{
        display: flex;
        flex-direction: row;
        width: max-content;
    }
    
}
@media (max-width: 900px){
    .expense-container{
        margin: 10px 5%;
        font-size: 18px;
    }
}
@media (max-width: 740px){
    .payment-div{
        display: none !important;
    }
    .payment-div-clone{
        display: flex  !important;
    }
    .note-div{
        justify-content: space-between !important;
    }
}
@media (max-width: 650px){
    .category-div{
        display: none !important;
    }
    .category-div-clone{
        display: flex !important;
    }
}

.title{
    display: flex;
    justify-content: center;
    margin:auto;
    margin: 30px;
}

@keyframes hide {
    0% {
        opacity: 1;
        height: 100%;
        line-height: 100%;
    }
    75% {
        opacity: 0;
        height: 100%;
        line-height: 100%;
    }
    100% {
        opacity: 0;
        height: 0px;
        line-height: 0px;
        padding: 0px;
        margin-bottom: 0px;
    }
}
#main-charts-div{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.chart-container{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}
.chart-div{
    width: 450px;
    height: 500px;
}

#div-filters{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    *{
        margin: 0 5px;
    }
}
@media(max-width: 800px){
    .chart-container{
        width: 100%;
    }
    #main-charts-div{
        flex-direction: column;
    }
    .chart-div{
        width: 350px;
        height: 450px;
    }
}