#main-container {
  margin-top: 70px;
}

#brand {
  color: rgb(14, 126, 22) !important;
  font-size: 35px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}

#navbar {
  padding: 0 30px;
  background-color: rgb(178, 178, 178) !important;
}

#navbarSupportedContent {
  margin: auto;
  justify-content: flex-end !important;
  display: flex;
  align-items: center;
}

ul.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}
ul.navbar-nav li {
  margin: auto 5px;
}

#signed {
  margin: auto;
}

span {
  font-weight: bold;
}

.btn {
  background-color: rgb(14, 126, 22);
  margin: 10px;
  border: 1px solid rgb(118, 179, 26);
  color: white;
}

.btn:hover {
  background-color: rgb(118, 179, 26);
  color: white;
}

.div-form {
  background-color: rgb(178, 178, 178);
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.div-form form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.div-form form div {
  margin: 8px 0;
  width: 100%;
}

@media (min-height: 700px) {
  .div-form {
    margin-top: 140px !important;
  }
}
@media (max-height: 700px) {
  .div-form {
    margin-top: 100px !important;
  }
}
@media (min-width: 1200px) {
  .div-form {
    margin: auto 30%;
    padding: 25px 50px;
  }
}
@media (max-width: 1200px) {
  .div-form {
    margin: auto 20%;
    padding: 25px 50px;
  }
}
@media (max-width: 700px) {
  .div-form {
    margin: auto 20%;
    padding: 25px 30px;
  }
}
@media (max-width: 500px) {
  .div-form {
    margin: auto 10%;
    padding: 25px 20px;
  }
}
#add div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#add div input, #add div select {
  width: 60%;
  align-items: end;
  text-align: center;
}
#add div label {
  font-weight: bold;
}
#add div:has(textarea) {
  flex-direction: column;
  align-items: center;
}
#add div:has(textarea) label {
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}
#add div:has(textarea) textarea {
  width: 100%;
  padding: 10px;
  text-align: left;
  resize: none;
}

.expense-container {
  margin: 10px 10%;
  border: 2px solid rgb(14, 126, 22);
  border-radius: 5px;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  padding: 0px 15px;
  animation-name: hide;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}
.expense-container .note-div {
  width: 100%;
  border: 1px solid black;
  margin: 5px 0;
  padding: 3px 0;
  justify-content: center;
}
.expense-container .note-div * {
  width: 33%;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.expense-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.expense-div div {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 5px;
  width: 16%;
}
.expense-div .amount-div {
  width: 110px;
  display: flex;
  flex-direction: row;
}
.expense-div .date-div {
  width: auto;
}
.expense-div .icons-div {
  display: flex;
  flex-direction: row;
  width: -moz-max-content;
  width: max-content;
}

@media (max-width: 900px) {
  .expense-container {
    margin: 10px 5%;
    font-size: 18px;
  }
}
@media (max-width: 740px) {
  .payment-div {
    display: none !important;
  }
  .payment-div-clone {
    display: flex !important;
  }
  .note-div {
    justify-content: space-between !important;
  }
}
@media (max-width: 650px) {
  .category-div {
    display: none !important;
  }
  .category-div-clone {
    display: flex !important;
  }
}
.title {
  display: flex;
  justify-content: center;
  margin: auto;
  margin: 30px;
}

@keyframes hide {
  0% {
    opacity: 1;
    height: 100%;
    line-height: 100%;
  }
  75% {
    opacity: 0;
    height: 100%;
    line-height: 100%;
  }
  100% {
    opacity: 0;
    height: 0px;
    line-height: 0px;
    padding: 0px;
    margin-bottom: 0px;
  }
}
.chart-div {
  width: 90%;
  min-height: 400px;
}/*# sourceMappingURL=styles.css.map */