{% extends "mymoney/layout.html" %}
{% load static %}

{%block body%}
<div id="list-div">
</div>

<div id="add-div">
    <div class="div-form" id="add">
        <form action="{% url 'index'%}" method="post">
            <h1>Add expense</h1>
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit" class="btn">
        </form>
        </form>
    </div>
</div>

<div id="analysis-div">
    <h1 class="title">Analysis</h1>
</div>
{% endblock %}
{% block script %}
    <script src="{% static 'mymoney/expense.js' %}"></script>
{% endblock %}
