{% extends "mymoney/layout.html" %}
{% load static %}

{%block body%}
<div id="list-div">
</div>
<div id="list-income-div">
</div>

<div id="add-div">
    <div class="div-form" id="add">
        <form action="{% url 'index'%}" method="post">
            <h1>Add expense</h1>
            {% csrf_token %}
            {{ expense_form }}
            <input type="submit" value="Submit" class="btn">
        </form>
        </form>
    </div>
</div>

<div id="add-income-div">
    <div class="div-form" id="add">
        <form action="{% url 'add_income'%}" method="post">
            <h1>Add income</h1>
            {% csrf_token %}
            {{ income_form }}
            <input type="submit" value="Submit" class="btn">
        </form>
        </form>
    </div>
</div>


<div id="analysis-div">
</div>
<div id="summary-div"></div>

{% endblock %}
{% block script %}
    <script src="{% static 'mymoney/expense.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.5.0/echarts.min.js"></script>
{% endblock %}
